body {
    font-family: sans-serif;
}

.section1 {
    background-color: #1F2937;

    display: flex;
    flex-direction: column;
    padding: 20px 150px 100px 150px;
}

.header {
    display: flex;
    justify-content: space-between;
}

.logo {
    font-size: 24px;
    color: #F9FAF8;
    font-weight: bold;
}

.links {
    display: flex;
    gap: 30px;
    font-size: 18px;
    color: #E5E7EB;
}

.signup {
    display: flex;
    gap: 50px;
    padding-top: 80px;
}

.text {
    color: #E5E7EB;
}

.title {
    font-size: 49px;
    font-weight: bolder;
    color: #F9FAF8;
}

.btn1 {
    width: 100px;
    height: 25px;
    border-radius: 5px;
    border: none;
    background-color: #3882F6;
    color: #E5E7EB;
    font-weight: 700;
    margin-top: 10px;
}

.image {
    background-color: grey;
    width: 900px;

    color: #E5E7EB;

    display: flex;
    justify-content: center;
    align-items: center;
}

.section2 {
    display:flex;
    flex-direction: column;
    align-items: center;
    padding: 40px 200px 80px 200px;
}

.text2 {
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
    padding-bottom: 30px;
}

.subtext {
    display: flex;
    align-items: center;
    gap: 30px;
}

.sub {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.subtext1 {
    text-align: center;
    padding-top: 5px;
    color: #1F2937;
}

.box {
    border: 3px solid #3882F6;
    border-radius: 15px;
    width: 190px;
    height: 190px;
}

.section3 {
    background-color: #E5E7EB;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 100px 180px 100px 180px;

    font-size: 36px;
    font-weight: 200;
    color: #1F2937;
}

.user {
    display: flex;
    justify-content: flex-end;
    font-weight: 700;
}

.section4 {
    padding: 80px 150px 80px 150px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.bluebox {
    background-color: #3882F6;
    padding: 30px 100px 30px 100px;
    display: flex;
    gap: 80px;
    align-items: center;
    border-radius: 10px;

    font-size: 15px;
    color: #E5E7EB;
}

.action {
    font-weight: bolder;
    font-size: 18px;
    padding-bottom: 5px;
}

.btn2 {
    width: 100px;
    height: 25px;
    border-radius: 5px;
    border: 2px solid #E5E7EB;
    background-color: #3882F6;
    color: #E5E7EB;
    font-weight: 700;
}

.footer {
    background-color: #1F2937;
    color: #E5E7EB;
    padding: 30px 0 30px 0;

    display: flex;
    align-items: center;
    justify-content: center;
}